@import 'style';
.decor {
  background-image: url(/images/decor.png);
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  &__title {
    text-align: center;
    margin-top: 100px;
    font-family: $font-demi;
    font-size: 36px;
    text-transform: uppercase;
  }
}

.about {
  position: relative;
  &__hero {
    width: 100%;
    height: 800px;
    overflow: hidden;
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__descr {
    background:linear-gradient(to right,#6D31D0CC 80%);
    padding: 60px 50px;
    p {
      color: #fff;
      font-size: 20px;
      font-family: $font-mont;
      line-height: 32px;
    }
    p + p {
      margin-top: 20px;
    }
  }
}

.relocation {
  &__content {
    padding: 60px 50px 40px;
  }
  &__title {
    font-size: 36px;
    font-family: $font-demi;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  p + p {
    margin-top: 20px;
    letter-spacing: 0.5px;
  }
  img {
    width: 100%;
    display: block;
  }
}

.values {
  background: linear-gradient(180deg, #f7d382eb, #FDBFA3);
  &__title {
    font-size: 36px;
    font-family: $font-demi;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
    padding-top: 50px;
    span {
      display: inline-block;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    h4 {
      color: $color-first;
      font-size: 20px;
      font-family: $font-mont;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}



// 480 ----------------------------
  @media (min-width: 480px) {
  .values {
    &__inner {
      padding: 80px 30px;
    }
    &__list {
      align-items: flex-start;
    }
    &__item {
      flex: 1 1 calc(50% -10px);
      max-width: calc(50% - 10px);
    }
  }
}


// 768 ----------------------------
  @media (min-width: 768px) {
  .about {
    &__descr {
      padding: 60px 80px;
      &-text {
        margin: 0 auto;
      }
    }
  }
  .relocation {
    &__content {
      padding: 60px 90px 60px;
    }
  }

  .values {
    &__inner {
      padding: 80px 70px;
    }
    &__list {
      gap: 50px 10px;
    }
  }
}


// 1000 ----------------------------
@media (min-width: 1001px) {
.about {
  &__hero {
    height: 530px;
  }
  &__descr-text {
    max-width: 800px;
  }
}
.decor {
  background-image: url(/images/decor-big.png);
  left: -10%;
  &__title {
    position: relative;
    right: 340px;
    top: 150px;
  }
}
.relocation {
  &__inner {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
  }
  &__content {
    padding: 0;
    margin-bottom: 40px;
  }
}

.values {
  &__list {
    max-width: 600px;
    margin: 0 auto;
  }
}
}


// 1440 ----------------------------
@media (min-width: 1440px) {
.about {
  img {
    object-position: right;
    object-fit: contain;
  }
}
.decor {
  left: -40%;
  background-position: top;
  &__title {
  position: absolute;
  left: 50px;    
  }
}

.relocation {
  &__inner {
    padding: 100px 0 80px 130px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    gap: 10px;
  }
  &__content {
    max-width: 800px;
  }
  &__image {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 80px;
      height: 100%;
      background: rgba(255,255,255,0.50);
    }
  }
}

.values {
  &__title {
    padding-top: 0;
  }
  &__list {
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: space-between;
  }
  &__item {
    max-width: 280px;
  }
}
}

// 1600 ----------------------------
@media (min-width:1600px) {
  .decor {
    left: -16%;
  }
}