@font-face {
  font-family: 'AvenirNextCyr-Bold';
  src: url(../fonts/AvenirNextCyr-Bold.woff2) format(woff2),
  url(../fonts/AvenirNextCyr-Bold.woff) format(woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Demi';
  src: url(../fonts/AvenirNextCyr-Demi.woff2) format(woff2),
  url(../fonts/AvenirNextCyr-Demi.woff) format(woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url(../fonts/AvenirNextCyr-Medium.woff2) format(woff2),
  url(../fonts/AvenirNextCyr-Medium.woff) format(woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCyr-Regular';
  src: url(../fonts/AvenirNextCyr-Regular.woff2) format(woff2),
  url(../fonts/AvenirNextCyr-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(../fonts/Montserrat-SemiBold.woff2) format(woff2),
  url(../fonts/Montserrat-SemiBold.woff) format(woff);
  font-weight: 600;
  font-style: normal;
}