@import 'style';

.decor {
  background-image: url(/images/decor.png);
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;

  &__title {
    text-align: center;
    margin-top: 100px;
    font-family: $font-demi;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 40px;
  }
}

.invest {
  position: relative;

  &__hero {
    width: 100%;
    height: 800px;
    overflow: hidden;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
}

.estate,
.yachts,
.business {
  ul {
    margin: 30px 0;

    li {
      color: $color-first;
      list-style: disc;
      list-style-position: inside;
    }
  }

  img {
    width: 100%;
    display: block;
  }

  &__text {
    padding: 80px 50px 40px;

    h3 {
      font-size: 28px;
      font-family: $font-demi;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }

    p + p {
      margin-top: 20px;
      letter-spacing: 0.5px;
    }
  }
}

// 768px ----------------------------
@media (min-width: 768px) {
  .estate,
  .yachts,
  .business {
    &__inner {
      max-width: 800px;
      margin: 0 auto;
      padding: 80px 40px;
    }

    &__text {
      padding: 0;
      margin-bottom: 90px;
    }
  }
}

// 1000px ----------------------------
@media (min-width: 1001px) {
  .invest {
    &__hero {
      height: 530px;
    }
  }

  .decor {
    background-image: url(/images/decor-big.png);
    left: -10%;

    &__title {
      position: relative;
      right: 340px;
      top: 150px;
    }
  }
}

// 1440px ----------------------------
@media (min-width: 1440px) {
  .invest {
    img {
      object-position: right;
      object-fit: contain;
    }
  }

  .decor {
    left: -10%;
    background-position: top;

    &__title {
      position: absolute;
      left: 50px;
    }
  }

  .estate,
  .yachts,
  .business {
    &__inner {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 60px;
    }

    &__text {
      margin: 0;
      max-width: 800px;
    }
  }

  .estate,
  .yachts {
    &__image {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 80px;
        height: 100%;
        top: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .estate {
    &__inner {
      flex-direction: row-reverse;
    }
  }

  .yachts {
    &__inner {
      flex-direction: row;
    }
  }

  .business {
    img {
      width: 800px;
    }
    &__inner {
      flex-direction: row-reverse;
    }
  }
}


// 1600px ----------------------------
@media (min-width: 1600px) {
  .decor {
    left: 10%;
  }
}
