$font-accent: 'AvenirNextCyr-Regular';
$font-medium: 'AvenirNextCyr-Medium';
$font-bold: 'AvenirNextCyr-Bold';
$font-demi: 'AvenirNextCyr-Demi';
$font-mont: 'Montserrat-SemiBold';

$color-first: #6D31D0;
$color-second: #828CDE;